@model DataLayer.BaseModels.VacancyBaseModel

@{
    ViewData["Title"] = $@"Details - {Model.JobTitle}";
}

<h1>@Model.JobTitle</h1>

<dl class="row">
    <dt class="col-sm-12 col-md-3">Salary range</dt>
    <dd class="col-sm-12 col-md-9">£@Model.SalaryMin - £@Model.SalaryMax</dd>

    <dt class="col-sm-12 col-md-3">Contract type</dt>
    <dd class="col-sm-12 col-md-9">@Model.ContractType</dd>
    
      @{
          var endDate = (DateTime) Model.EndDate;
          var formattedEndDate = endDate.ToString("dddd dd MMMM yyyy");
      }
      
    <dt class="col-sm-12 col-md-3">Closing date</dt>
    <dd class="col-sm-12 col-md-9">@formattedEndDate</dd>
</dl>


<h3>Job Description</h3>
<div>
    @Html.Raw(Model.JobDescription)
</div>

<a href="/apply/create/@Model.Id" class="btn btn-primary">Apply</a>