@model JobsWebApp.ViewModels.Vacancy.HomepageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Vacancies</h1>

<p>Find all of our current vacancies</p>

<div class="row">
    <div class="col-sm-12 col-md-4 bg-light p-3">
        <form action="/" method="get">
            <h2>Filter</h2>
            
            <fieldset>
                <div class="form-group">
                    <select class="form-control" asp-for="SalaryRange" asp-items="Model.SalaryRanges">
                        <option value="">SalaryRange</option>
                    </select>                       
                </div>
                
                <div class="form-group">
                    <select class="form-control" asp-for="Department" asp-items="Model.Departments">
                        <option value="">Department</option>
                    </select>
                </div>
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Apply</button>
                <a class="btn btn-secondary" href="/">Clear</a>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-8">

         @if (Model.Vacancies.Count == 0)
                {
                    <h2>Sorry, no vacancies can be found with this filter.</h2>
                }
                else
                {
                    <ul class="list-group">
                     @foreach (var vacancy in Model.Vacancies)
                            {
                                <li class="list-group-item">
                                    <div class="job">
                                        <h3 class="job-title">@vacancy.JobTitle</h3>
                                        
                                        <dl class="row">
                                            <dt class="col-sm-12 col-md-3">Salary Range</dt>
                                            <dd class="col-sm-12 col-md-9">£32,301 to £33,474</dd>
                                        </dl>
                                        
                                        <dl class="row">
                                            <dt class="col-sm-12 col-md-3">Closing Date</dt>
                                            <dd class="col-sm-12 col-md-9">19 April</dd>
                                        </dl>
                                        
                                        <a class="btn btn-primary" href="/vacancy/details/@vacancy.Id" class="job-apply">More Details</a>
                                    </div>
                                </li>
                            }
                    </ul>
                    
                }
            
    </div>
</div>



