# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.JobsApp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\CBC11298\source\repos\JobsApp\.idea\.idea.JobsApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
