@model JobsWebApp.ViewModels.AdminControllerIndexViewMovel

<h1>Admin</h1>

<a class="btn btn-primary mt-3" asp-controller="Admin" asp-action="Create">Create New Vacancy</a>

<h2>Current Vacancies</h2>

@if (Model.PublishedVacancies.Count == 0)
{
    <p>You dont currently have any vacancies</p>
}
else
{
    <ul class="list-group">

        @foreach (var vacancy in Model.PublishedVacancies)
        {
            <li class="list-group-item">

                <h3>@vacancy.JobTitle</h3>

                <a class="btn btn-primary" asp-controller="Admin" asp-action="Details" asp-route-id="@vacancy.Id">View</a>
            </li>

        }

    </ul>
}


@if (Model.DraftVacancies.Count > 0)
{
    <h2>Draft Vacancies</h2>

    <ul class="list-group">

        @foreach (var vacancy in Model.DraftVacancies)
        {
            <li class="list-group-item">

                <h3>@vacancy.JobTitle</h3>

                <a class="btn btn-primary" asp-controller="Admin" asp-action="Details" asp-route-id="@vacancy.Id">View</a>
            </li>

        }

    </ul>
}



